$base-font-size: 10;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$site_width: 1024px;

$global_desktop_padding: 0;
$global_tablet_padding: 0 20px;
$global_mobile_padding: 0 10px;

$white01: #ffffff;
$red01: #E2222D;
$grey01: #8D8DA5;
$grey02: #181C32;
$grey03: #DBDFEB;